<div class="bg-white rounded-t-lg overflow-hidden border-l border-r border-gray-400 p-4 px-3 py-10 bg-gray-200 flex justify-center">
  <div class="w-full max-w-xs">
    <%= form_tag password_reset_path, { :class => "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" } do |form| %>
      <%= hidden_field_tag :token, params[:token] %>

      <div class="mb-4">
        <%= label_tag :password, nil, :class => "block text-gray-700 text-sm font-bold mb-2" %>
        <%= password_field_tag :password, nil, :placeholder => '******', :class => "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="mb-4">
        <%= label_tag :password_confirmation, nil, :class => "block text-gray-700 text-sm font-bold mb-2" %>
        <%= password_field_tag :password_confirmation, nil, :placeholder => '******', :class => "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="flex items-center justify-between">
        <%= submit_tag "Reset password", :class => "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      </div>
    <% end %>
  </div>
</div>

